/* 
    General Styles
*/

body{
    background-color: white;
}
.mothercard{
    margin-top: 100px;
}
.navbar{
    height: 70px;
}
.getstarted{
    position: absolute;
    margin-left: 80%;
    border: transparent;

}


